:root {
    --red: #D11406;
    --brown: #964B42;
    --light-green: #06D05A;
    --dark-green: #217443;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #f5f5f5;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.logo  {
    width: 3.5rem;
    height: 3.9rem;
    margin-right: 0.4rem;
}
.header__title-container {
    display: flex;
}
.header__titulo1 {
    margin-right: 0.4rem;
    color: var(--brown);
}
.header__titulo2 {
    color: var(--red);
}
.hamburger {
    width: 3.9rem;
    height: 3.9rem;
}
.form-container {
    padding: 1rem;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.form__titulo {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.form__texto {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form__fecha {
    color: #909090;
}
.form__buttom {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}
.chart-container {
    margin-top: 2rem;
}
.chart-container canvas {
    background: linear-gradient(to top, #ffcccc 50%, #ccffcc 50%);
}
.info {
    margin-top: 1rem;
    font-family: 'Merriweather', serif;
}
#map {
    margin: 0 auto;
    height: 200px;
    width: 90%;
    margin-bottom: 2rem;
}
.invisible {
    display: none;
}
h1 {
    font-family: 'Merriweather', serif;
}
label {
    display: block;
    margin-top: 1rem;
}
input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
main {
    padding: 2rem;
}
button:hover {
    background-color: #45a049;
}